.tasks {
    &:not(last-of-type) {
        margin-bottom: 40px;
    }
    &__title {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #64C4ED;
        padding-bottom: 20px;
        border-bottom: 1px solid #F2F2F2;
        margin-bottom: 30px;
        &:hover {
            img {
                opacity: 0.2;
            }
        }
        img {
            opacity: 0;
            cursor: pointer;
            margin-left: 15px;
            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__form {
        margin-top: 10px;

        &-block {
            .btn {
	        margin-top: 9px;
		    margin-left: 9px;

            }
        }

        &-new {
            display: flex;
            align-items: center;
            cursor: pointer;
            opacity: 0.4;
            transition: opacity 0.15s ease-in-out;

            &:hover {
                opacity: 0.8;
            }

            img {
                width: 15px;
                height: 15px;
                margin-left: 10px;

            }
            span {
                font-size: 16px;
                margin-left: 19px;
            }
        }
    }

    .checkbox {
        input {
            display: none;
        }
        &:hover {
            label {
                background: #F2F2F2;
                border-color: #F2F2F2;
                svg {
                    opacity: 1;
                    path {
                        stroke:#B3B3B3;
                    }
                }
            }
        }
        label {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #e8e8e8;
            border-radius: 30px;
            height: 20px;
            width: 20px;
            cursor: pointer;
            svg {
                opacity: 0;
            }
        }
        input:checked + label {
            background: #4DD599;
            border-color: #4DD599;
            svg {
                opacity: 1;
                path {
                    stroke: #fff;
                }
            }
        }
    }
    &__items {
        h2 {
            text-align: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 39px;
            color: #C9D1D3;
        }
    }
    &__items-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        input {
            margin-left: 15px;
            width: 330px;
            height: 19px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            color: #000000;
            border: none;
        }

    }
}